*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.image{
    min-width: 300px;
    max-width: 1200px;
}