:root {
    --white: #fff;
    --text-color: black;
    --header-height: 106px;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .navbar-brand img {
    --padding: 13px;
    /* Esto calcula el 100% del viewport height menos lo que mide el header */
    height: calc(var(--header-height) - var(--padding) * 2);
  }
  
  .inscripcion {
    margin-left: auto;
  }
  
  .hero {
    background-image: url("https://res.cloudinary.com/mcfit/image/upload/q_auto:best,f_auto,dpr_2/v1697030559/McFIT%20Kampagnen/2023_Mega-Deal/ES/McFIT_ES_MegaDeal_Media-Stage_Desktop_1920x1080");
    background-size: cover;
    background-position: 70% 0%;
    height: calc(100vh - var(--header-height));
    width: 100%;
  }
  
  .texts {
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-rows: 40% 30%;
    grid-template-rows: 40% 30%;
    margin-top: 10%;
  }
  
  .headline {
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 500%;
    width: 100%;
    text-shadow: 0px 2px 6px black;
    letter-spacing: 4px;
    -webkit-animation: rise-up2 1s ease-in-out;
            animation: rise-up2 1s ease-in-out;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  
  .display {
    background-color: rgb(33, 37, 44, 0.7);
    padding: 0.75rem 0.5rem;
    color: #fff;
    font-size: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
  
  .centered {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  
  .bolder {
    font-weight: bolder;
  }
  
  .fidelizacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.5rem;
    height: 50vh;
  }
  
  .fidelizacion > .info {
    padding: 1rem 3rem;
    width: auto;
    overflow-y: hidden;
  }
  
  .fidelizacion > .info .features {
    list-style-type: disc;
  }
  
  .fidelizacion > .image-container {
    width: 40%;
    padding: 1rem;
    position: relative;
    background-color: #414f5c;
  }
  
  .fidelizacion > .image-container > img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-10%, -50%);
        -ms-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
    -webkit-box-shadow: 12px 12px 24px 0px var(--text-color);
            box-shadow: 12px 12px 24px 0px var(--text-color);
    -webkit-animation: rise-up1 1s ease-in-out;
            animation: rise-up1 1s ease-in-out;
    -webkit-animation-delay: 3;
            animation-delay: 3;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  
  .carousel-section {
    background-color: #414f5c;
    padding-block: 5rem;
  }
  
  .carousel-item img {
    --min-height: 350px; /* Altura de la imagen más pequeña */
    --min-width: 728px; /** Anchura de la imagen más pequeña */
    max-width: var(--min-width);
    max-height: var(--min-height);
    width: auto;
    height: auto;
    margin-inline: auto;
  }
  
  @media (width < 768px) {
    .headline {
      font-size: 250%;
    }
    .display {
      font-size: 1rem;
    }
  }
  
  @media (width < 1080px) {
    .hero {
      background-position: 100% 0%;
    }
  }
  
  @media (width < 1280px) {
    .hero {
      background-position: 55% 0%;
    }
  }
  
  @-webkit-keyframes rise-up1 {
    /*Animacion Subida desde el bottom PARA 992px/1200px */
    0% {
      -webkit-transform: translate(-10%, 50%);
              transform: translate(-10%, 50%);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translate(-10%, -50%);
              transform: translate(-10%, -50%);
      opacity: 1;
    }
  }
  
  @keyframes rise-up1 {
    /*Animacion Subida desde el bottom PARA 992px/1200px */
    0% {
      -webkit-transform: translate(-10%, 50%);
              transform: translate(-10%, 50%);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translate(-10%, -50%);
              transform: translate(-10%, -50%);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes rise-up2 {
    /*Animacion Subida desde el bottom PARA 992px/1200px */
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: unset;
              transform: unset;
      opacity: 1;
    }
  }
  
  @keyframes rise-up2 {
    /*Animacion Subida desde el bottom PARA 992px/1200px */
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: unset;
              transform: unset;
      opacity: 1;
    }
  }