p{
    text-align: center;
}
.authors{
    color: (102,102,102);
    display: inline;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 12px;
    text-decoration-color: (102,102,102);
    text-decoration-style: solid;
    text-size-adjust: 100%;
}
h1{
    color: (17,17,17);
    cursor: pointer;
    font-family: serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration-color: 17,17,17; 
}
.descript{
    color: (74,74,74);
    display: block;
    font-family: serif;
    font-size: 15px;
}
.border-left{
    border-left: 1px solid grey;
}
.border-right{
    border-left: 1px solid grey;
}
*{
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }
  
