p{
    text-align: center;
}
.authors{
    color: (102,102,102);
    display: inline;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 12px;
    text-decoration-color: (102,102,102);
    text-decoration-style: solid;
    text-size-adjust: 100%;
}
h1{
    color: (17,17,17);
    cursor: pointer;
    font-family: serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration-color: 17,17,17; 
}
.descript{
    color: (74,74,74);
    display: block;
    font-family: serif;
    font-size: 15px;
}
.border-left{
    border-left: 1px solid grey;
}
.border-right{
    border-left: 1px solid grey;
}
